[project]
	description = Owner: IT\n\
Scratch/Test.
[access "refs/heads/*"]
	read = group user/Selda Uyanik (selda.uyanik)
	read = group user/Tushar Vaghode (tushar.vaghode)
	exclusiveGroupPermissions = read push
	push = deny group Registered Users
[access "refs/for/refs/*"]
	push = deny group user/Tushar Vaghode (tushar.vaghode)
