[project]
	description = Owner: IT\n\
Scratch/Test.
[access "refs/*"]
	exclusiveGroupPermissions = read
	read = group Non-Interactive Users
	read = group scratchproj-members
[access "refs/heads/*"]
	exclusiveGroupPermissions = label-Code-Review submit
	owner = group scratchproj-members
	label-Code-Review = -2..+2 group scratchproj-members
	label-Code-Review = -2..+1 group Non-Interactive Users
	submit = group scratchproj-members
