[project]
	description = Owner: IT\n\
Scratch/Test.
[access "refs/*"]
	exclusiveGroupPermissions = read
	read = group Non-Interactive Users
[access "refs/heads/*"]
	exclusiveGroupPermissions = label-Code-Review submit
	owner = group scratchproj
	label-Code-Review = -2..+2 group scratchproj
	label-Code-Review = -1..+1 group Non-Interactive Users
	submit = group scratchproj
